In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/shagunsaboo/stats'

In [2]:
df=pd.read_csv('/Users/shagunsaboo/Downloads/startup.csv')
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [11]:
df['CityLocation'].replace({"Delhi":"New Delhi","bangalore":"Bangalore"})

0             Bangalore
1                Mumbai
2             New Delhi
3                Mumbai
4             Hyderabad
5             Bangalore
6             Ahmedabad
7               Gurgaon
8             Bangalore
9                 Noida
10               Mumbai
11            Bangalore
12              Gurgaon
13            Bangalore
14            Bangalore
15            Hyderabad
16                 Pune
17               Mumbai
18            Bangalore
19            Bangalore
20            Hyderabad
21            Bangalore
22                 Pune
23            Bangalore
24            Bangalore
25            Bangalore
26                 Pune
27                Noida
28            Hyderabad
29              Kolkata
             ...
2171           Vadodara
2172            Gurgaon
2173            Chennai
2174            Chennai
2175          New Delhi
2176          Bangalore
2177          New Delhi
2178          Bangalore
2179             Mumbai
2180    Bangalore / SFO
2181          Bangalore
2182         Chandigarh
2183          New Delhi
2184          New Delhi
2185             Mumbai
2186               Pune
2187             Mumbai
2188             Jaipur
2189          New Delhi
2190          Bangalore
2191          Bangalore
2192          Hyderabad
2193             Mumbai
2194            Gurgaon
2195          Pune / US
2196          Bangalore
2197          Bangalore
2198          Bangalore
2199            Chennai
2200              Noida
Name: CityLocation, Length: 2193, dtype: object

In [12]:
city=df['CityLocation']
city.unique()

array(['Bangalore', 'Mumbai', 'New Delhi', 'Hyderabad', 'Ahmedabad',
       'Gurgaon', 'Noida', 'Pune', 'Kolkata', 'bangalore', 'Trivandrum',
       'Chennai', 'Chandigarh', 'Jaipur', 'Vadodara', 'Surat',
       'Missourie', 'Panaji', 'Gwalior', 'Karur', 'Udupi', 'Kochi',
       'Indore', 'Singapore', 'Goa', 'Agra', 'Bangalore/ Bangkok',
       'Hubli', 'Delhi', 'Kerala', 'Kozhikode', 'US', 'Coimbatore',
       'Siliguri', 'USA', 'Lucknow', 'Kanpur', 'SFO / Bangalore',
       'London', 'Seattle / Bangalore', 'Pune/Seattle', 'Pune / Dubai',
       'Bangalore / SFO', 'Varanasi', 'Bhopal', 'New Delhi / US',
       'Mumbai / UK', 'Jodhpur', 'Hyderabad/USA', 'Boston',
       'Bangalore / Palo Alto', 'Mumbai / NY', 'USA/India',
       'Goa/Hyderabad', 'Noida / Singapore', 'Belgaum', 'Pune / US',
       'Chennai/ Singapore', 'Pune / Singapore', 'Bangalore / San Mateo',
       'New York/ India', 'US/India', 'Gurgaon / SFO', 'Bangalore / USA',
       'New Delhi/ Houston', 'Nagpur', 'Mumbai / Global', 'India / US',
       'Udaipur', 'New Delhi / California', 'Dallas / Hyderabad'],
      dtype=object)

0    Bangalore
1       Mumbai
2    New Delhi
3       Mumbai
4    Hyderabad
Name: CityLocation, dtype: object